
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">

      <a class="navbar-brand">
        <h1 class="header-name"><img
            src="https://th.bing.com/th/id/OIP.Q1tLmnj49RoAjINYHszoZwHaHa?pid=ImgDet&w=1200&h=1200&rs=1" alt="">Product
          App</h1>
      </a>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a> <hr>
        <a class="nav-link" >Login</a> <hr>
        <a class="nav-link">Register</a> <hr>
      </div>
    </div>
  </div>
</nav>